<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutfacture.php">
<table>
<caption>Ajouter facture</caption>
<tr>
<td>id_facture</td>
<td><input type="number" name="id_fac"></td>
</tr>
<tr>
<td>id_client</td>
<td><input type="number" name="id_client"></td>
</tr>
<tr>
<td>date1</td>
<td><input type="text" name="date1"></td>
</tr>
<tr>
<td>valeur</td>
<td><input type="number" name="valeur"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>